<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h3>Home Page</h3>
    <p>Hello, <%=fullname%></p>
    <p><a href="/logout">Log out</a></p>
    </body>
</html>